<IfModule mod_rewrite.c>
    Options -Indexes +FollowSymLinks
    RewriteEngine On
    
    # Pastikan request belum mengarah ke folder public/
    RewriteCond %{REQUEST_URI} !(/|^)public/ [NC]
    
    # Arahkan semua trafik ke folder public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
