<IfModule mod_rewrite.c>
    Options -Indexes +FollowSymLinks
    RewriteEngine On
    # Prevent infinite loops
    RewriteCond %{REQUEST_URI} !^/public/
    # Redirect all traffic to the public folder
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

<IfModule mod_env.c>
    # Make sure CI environment can be set if needed
    SetEnv CI_ENVIRONMENT production
</IfModule>
